/*
primary: #2e7d32;
light: #60ad5e;
dark: #005005;
*/

.background-white {
    -fx-background-color: white;
}

.menu-bar {
    -fx-background-color: white;
}

.custom-container {
    -fx-padding: 20px;
    -fx-border-insets: 20px;
    -fx-background-insets: 20px;
}

.navbar {
    -fx-font-size: 14px;
    -fx-font-weight: bold;
    -fx-padding: 15px 20px;
    -fx-background-color: #2e7d32;
}

.jfx-button.primary {
    -fx-padding: 10px 6px;
    -fx-font-size: 12px;
    -jfx-button-type: RAISED;
    -fx-background-color: #2e7d32;
    -fx-pref-width: 328;
    -fx-text-fill: white;
}

.jfx-button.secondary {
    -fx-padding: 10px 6px;
    -fx-font-size: 12px;
    -jfx-button-type: RAISED;
    -fx-background-color: #eeeeee;
    -fx-border-color: #616161;
    -fx-border-radius: 3px; /* There is no radius by default */
    -fx-pref-width: 328;
    -fx-text-fill: black;
}
