<?xml version="1.0" encoding="UTF-8"?>
<Configuration status="warn" name="ChatApp" packages="">
    <Appenders>
        <File name="File" fileName="logs/app.log" ignoreExceptions="false">
            <PatternLayout>
                <Pattern>%d{HH:mm:ss.SSS} [%t] %-5level %logger{36} - %msg%n</Pattern>
            </PatternLayout>
        </File>
        <Console name="Console" target="SYSTEM_OUT" ignoreExceptions="false">
            <PatternLayout>
                <Pattern>%-5level %logger{36} - %msg%n</Pattern>
            </PatternLayout>
        </Console>
    </Appenders>
    <Loggers>
        <Logger name="com.j256.ormlite.table.TableUtils" level="all" additivity="false">
            <!--<AppenderRef ref="Console" level="warn"/>-->
            <AppenderRef ref="File"/>
        </Logger>
        <Root level="all">
            <!--<AppenderRef ref="Console" level="warn"/>-->
            <AppenderRef ref="File"/>
        </Root>
    </Loggers>
</Configuration>
